<!-- {{> nav}} -->
<div class="editor-wrap">
  <input
    type="hidden"
    class="j-create__project-data"
    data-projectId="{{projectId}}"
  >
  <div id="ace-editor"></div>
  <div class="well well-lg m-create__well j-create__well-content hide">
    <ul class="nav nav-tabs nav-justified j-create__nav-tabs">
      <li role="presentation" class="active"><a href="#basicCreateSetting">基本设置</a></li>
      <li role="presentation"><a href="#otherCreateSetting">其他设置</a></li>
    </ul>
    <div class="tab-content j-create__tab-content">
      <form id="basicCreateSetting" class="tab-pane active" role="tabpanel">
        <div class="form-group">
            <label>Url</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">/</span>
            <input type="text" name="url" value="{{prefix}}" class="form-control" placeholder="请输入接口全路径"/>
          </div>
        </div>
        <div class="form-group">
          <label>Type</label>
          <select class="form-control" name="type">
            <option>fcp</option>
            <option>http</option>
          </select>
        </div>
        <div class="form-group">
          <label>Method</label>
          <select class="form-control" name="method">
            <option>post</option>
            <option>get</option>
          </select>
        </div>
        <div class="form-group">
          <label>描述</label>
          <input type="text" name="desc" class="form-control" placeholder="接口描述"/>
        </div>
      </form>
      
      <form id="otherCreateSetting" class="tab-pane" role="tabpanel">
        <div class="form-group">
          <label>接口耗时</label>
          <input type="text" name="time" class="form-control" value="200"/>
        </div>
        <div class="form-group">
          <label>错误码</label>
          <input type="text" name="errCode" class="form-control" value="0"/>
        </div>
        <div class="form-group">
          <label>错误信息</label>
          <input type="text" name="errMsg" class="form-control" value="成功"/>
        </div>
        <div class="form-group">
          <label>错误码Key值</label>
          <input type="text" name="errCodeKey" class="form-control" value="errCode"/>
        </div>
        <div class="form-group">
          <label>错误信息Key值</label>
          <input type="text" name="errMsgKey" class="form-control" value="errMsg"/>
        </div>
      </form>
    </div>
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button type="button" class="j-create__preview btn btn-primary" data-toggle="modal" data-target="#previeMockModal">预览</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="j-create__submit btn btn-primary">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="previeMockModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal数据预览</h4>
      </div>
      <div class="modal-body">
        <pre class="j-preview__modal-content"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
  
<script src="/javascripts/ace/ace.js"></script>
<script src="/javascripts/ace/ext-settings_menu.js"></script>