<div class="panel panel-default">
    <div class="panel-body">
        <div class="row app-operate">
            <div class="col-sm-6">
                <div class="input-group op-search">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 op-add">
                <button 
                    data-toggle="modal" data-target="#newCateModal"
                    type="button" class="btn btn-primary j-btn__new-cate">
                    <i class="glyphicon glyphicon-plus j-create"></i>
                    <span>新建</span>
                </button>
            </div>
        </div>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>url</th>
                    <th>method</th>
                    <th>type</th>
                    <th>耗时</th>
                </tr>
            </thead>
            <tbody>
                {{#each mocks}}
                    <tr data-toggle="collapse" role="button" href="#table-mocks__{{@index}}"  aria-controls="table-mocks__{{@index}}" aria-expanded="false">
                        <td>{{this.name}}</td>
                        <td>{{this.method}}</td>
                        <td>{{this.type}}</td>
                        <td class="center">{{this.time}}</td>
                    </tr>
                    <tr class="collapse" id="table-mocks__{{@index}}">
                        <td colspan="4">
                            <pre>
                                {{this.mockVo}}
                            </pre>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                    Showing 1 to 10 of 57 entries
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                    <ul class="pagination">
                        <li class="paginate_button previous disabled" tabindex="0" id="dataTables-example_previous">
                            <a href="#">Previous</a>
                        </li>
                        <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">3</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">4</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">5</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">6</a></li>
                        <li class="paginate_button next" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.panel-body -->
    
    <div class="modal fade" id="newCateModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">新建项目</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>项目名称</label>
                        <input type="text" name="name" class="form-control" placeholder="请输入项目名称"/>
                    </div>
                    <div class="form-group">
                        <label>项目描述</label>
                        <input type="text" name="desc" class="form-control" placeholder="请输入项目描述"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-primary">确定</button>
            </div>
          </div>
        </div>
    </div>
</div>
