<div class="container app-home">
  <div class="row">
    {{#each projects}}
      <a class="col-md-4 app-home-nav" href="/mock/list">
          <div class="em-project__item">
            <div>{{this.name}}</div>
            <div class="project-description">
              {{this.desc}}
            </div>
          </div>
        </a>
    {{/each}}
  </div>

  <div class="em-add"
    data-toggle="modal"
    style="bottom: 30px;"
    data-target="#newProjectModal">
    <i class="glyphicon glyphicon-plus"></i>
  </div>

  <!-- modal -->
  <div class="modal fade" id="newProjectModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">新建项目</h4>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label>项目名称</label>
                      <input type="text" name="name" class="form-control" placeholder="请输入项目名称"/>
                  </div>
                  <div class="form-group">
                      <label>项目描述</label>
                      <input type="text" name="desc" class="form-control" placeholder="请输入项目描述"/>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="j-btn__new-project btn btn-primary">确定</button>
          </div>
        </div>
      </div>
  </div>
</div>

