<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/toastr.css' />
    <link rel='stylesheet' href='/dist/index.css' />
  </head>
  <body>
    <div id="app">
        <div class="container-fluid">
            {{{body}}}
        </div>
    </div>
  </body>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/toastr.js"></script>
  <script src="/javascripts/lodash.js"></script>
  <script src="/javascripts/EventEmitter.js"></script>
  <script src="/javascripts/mock.js"></script>
  <script src="/dist/index.js"></script>
  
</html>
