<!-- {{> nav}} -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row app-operate">
            <div class="col-sm-6">
                <div class="input-group op-search">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default j-demo" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 op-add">
                <a
                    type="button" 
                    href="/mock/create/{{projectId}}"
                    data-projectId="{{projectId}}"
                    class="btn btn-primary j-project-id">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>新建</span>
                </a>
            </div>
        </div>
        <table 
            width="100%"
            id="dataTables-example"
            class="table posr table-striped table-bordered table-hover"
        >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Type</th>
                    <th>耗时</th>
                    <th>描述</th>
                </tr>
            </thead>
            <tbody>
                {{#each mocks}}
                    <tr data-toggle="collapse"
                        role="button"
                        href="#table-mock__{{@index}}"
                        aria-controls="table-mock__{{@index}}"
                        aria-expanded="false">
                        <td>{{this.id}}</td>
                        <td>{{this.url}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.time}}</td>
                        <td>{{this.desc}}</td>
                    </tr>
                    <tr class="collapse" id="table-mock__{{@index}}">
                        <td colspan="5">
                            <div class="m-list__modify j-list__mock-update" data-mockId="{{this.id}}">
                                <i class="glyphicon glyphicon-ok"></i>
                            </div>
                            <textarea class="form-control j-textarea__autoresize">
                                {{this.mockVo}}
                            </textarea>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                    Showing 1 to 10 of 57 entries
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                    <ul class="pagination">
                        <li class="paginate_button previous disabled" tabindex="0" id="dataTables-example_previous">
                            <a href="#">Previous</a>
                        </li>
                        <li class="paginate_button active" tabindex="0"><a href="#">1</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">2</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">3</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">4</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">5</a></li>
                        <li class="paginate_button " tabindex="0"><a href="#">6</a></li>
                        <li class="paginate_button next" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
