.app-operate{
  padding: 20px 0;
  background: #f2f2f2;
  margin: 0;
  margin-bottom: 20px;
  .op-search{
    width: 180px;
  }
  .op-add{
    text-align: right;
  }
}

/* .app-modal__form{
  .form-group{
    display: flex;
  }
  label{
    width: 100px;
  }
} */